@import '../node_modules/normalize.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ebeef3;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

input {
  // all: unset;
  // box-sizing: border-box;
  // cursor: text;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  all: unset;
  box-sizing: border-box;
  cursor: text;
}

// input[type=text],
// input[type=email],
// input[type=password] {
//   cursor: text;
// }
